* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

html {
    scroll-padding-top: 85px;
}

body {
    padding-top: 85px;
}

.pet-img {
    min-width: 200px;
    max-width: 80%;
    height: auto;
    max-height: 380px;
    margin: 7px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.b-divider {
    height: 0.2rem;
    background-color: rgba(0, 0, 0, 0.1);
}

/* .bi {
    vertical-align: -0.125em;
    fill: currentColor;
} */

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}